/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
p{
    pointer-events: none;
}
button {
    /* Eliminamos los estilos predeterminados */
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer; /* Para que siga siendo un botón "clicable" */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'W95FA';
    src: url("../font/W95FA/w95fa.woff");
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello/fontello.eot');
    src: url('../font/fontello/fontello.woff2') format('woff2'),
         url('../font/fontello/fontello.woff') format('woff'),
         url('../font/fontello/fontello.ttf') format('truetype'),
         url('../font/fontello/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

h1,h2,h3,p,a{
    font-family: 'W95FA';
}

/* COMIENZO CSS */
body{
    background-color: #008080;
    height: 100vh;
}
#canva{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 5;
    display: none;
}
.visible{
    display: inline !important;
}
#appEscritorio{
    position: fixed;
    top: 10px;
    left: 10px;
}
#iconoEsc{
    border: 3px solid white;
}
#appEscritorio a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 4px;
    margin-top: 2rem;
}
#appEscritorio a:nth-child(5) > img{
    width: 70%;
}
#appEscritorio a:hover{
    border: 1px dashed white;
    padding: 3px;
}
/* VENTANA EMERGENTE */
/* #ventana{
    background-color: #C1C1C1;
    position: fixed;
    padding: .3rem;
    z-index: 1;
}
#ventana3{
    background-color: #C1C1C1;
    position: fixed;
    padding: .3rem;
    z-index: 1;
} */
.ventanaGeneral{
    background-color: #C1C1C1;
    position: fixed;
    padding: .3rem;
    display: none;
}

.border{
    border: 2px solid #eee;
    border-right-color: #000;
    border-bottom-color: #000;
}
.borderAct{
    border: 2px solid #eee;
    border-color: #000;
    border-right-color: #eee;
    border-bottom-color: #eee;
}
/* #ventana2{
    background-color: #C1C1C1;
    position: fixed;
    padding: .3rem;
    z-index: 0;
} */
.supven{
    display: flex;
    justify-content: space-between;
    background-color: #7E7D7F;
    color: white;
    /* border: 1px solid red; */
    width: 400px;
}
.supven > div:nth-child(1){
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: start;
    /* border: 1px solid red; */
}
.supven > div>img{
    max-width: 100%;
    width: 10%;
    /* border: 1px solid red; */
}
.supven > div>p{
    font-size: 2rem;
    /* border: 1px solid red; */
}
.supven > div:nth-child(2){
    width: 20%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.supven > div:nth-child(2)>a{
    width: 20%;
    margin: auto;
    background-color: #C1C1C1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
}

.opcVen{
    width: 40%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin: .3rem 0;
}

.contVen{
    background-color: white;
    padding: 5rem;
}

.espVacVen{
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}
.espVacVen div:nth-child(1){
    background-color: white;
    padding: .5rem 9.2rem;
    /* border: 1px red; */
}
.espVacVen div:nth-child(2){
    background-color: white;
    padding: .5rem 3.2rem;
    /* border: 1px red; */
}

.activeVen > div:nth-child(1){
    background-color: #0000ff;
    
}
.activeVen{
    z-index: 1 !important;
    position: fixed;
}

.oac > button{
    color: white;
    text-decoration: none;
    position: relative;
    background-color: #C1C1C1;
}

/* FOOTER */
footer{
    position: fixed;
    top: 94vh;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
    background-color: #C1C1C1;
}
.opc-footer{
    display: flex;
}
.opc-footer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 6px 6px 6px 0;
    padding: .2rem;
}
.opc-footer > div:hover{
    border: 2px solid #eee;
    border-color: #000;
    border-right-color: #eee;
    border-bottom-color: #eee;
}
.opc-footer > div:nth-child(1) > img{
    max-width: 100%;
    width: 100%;
}
.opc-footer > div > img{
    max-width: 100%;
    width: 30%;
}

/* BUSCAMINAS */

#tablero{
    display:grid;
    grid-template-columns: repeat(var(--num-columnas), var(--size));
    grid-template-rows: repeat(var(--num-filas), var(--size));
  }
  #tablero div{
    background-color: #BBBBBB;
    border-left: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;
    border-right: 2px solid #A9A9A9;
    border-bottom: 2px solid #A9A9A9;
    text-align: center;
    line-height: var(--size);
}[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 2px 2px 2px #999999;
  
  }
  
  .icon-bandera:before { content: '\e800';  color: #B22222;}
  .icon-duda:before { content: '\e801'; }
  .icon-bomba:before { content: '\f1e2'; }

  #tablero div.destapado{
    font-family: "Lucida Console","Courier New", Courier, monospace;
    font-weight: bold;
    border-left: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    text-shadow: 1px 1px 2px #999999;
  }
  #tablero div.sinmarcar{
    background-color: #FF0000;
  }
  #tablero div.banderaErronea{
    background-color: #AAAAAA;
    border: 1px solid #B22222;
  }
  
  
  #tablero div.c1{ color: #00ffff;}
  #tablero div.c2{ color: #0099ff;}
  #tablero div.c3{ color: #0033ff;}
  #tablero div.c4{ color: #00ff33;}
  #tablero div.c5{ color: #ccff00;}
  #tablero div.c6{ color: #ffcc00;}
  #tablero div.c7{ color: #ff3300;}
  #tablero div.c8{ color: #660000;}

  #estado{
    padding: 2px 10px 2px 10px;
    display:block;
    background-color: #BBBBBB;
    border-left: 2px solid #D3D3D3;
    /* border-top: 2px solid #D3D3D3; */
    border-right: 2px solid #A9A9A9;
    border-bottom: 2px solid #A9A9A9;
    width: calc(var(--num-columnas)*var(--size));
  }
  #estado div{
    text-align:right;
    font-family: sans-serif;
    font-size: 14px;
    color: #333333;
    border-left: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 4px;
  }